POSTGRES_DB=stocker
POSTGRES_USER=stocker
POSTGRES_PASSWORD=stocker_dev_password
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
CONNECTIONSTRINGS__DEFAULT=Host=postgres;Port=5432;Database=stocker;Username=stocker;Password=stocker_dev_password
JWT__ISSUER=StockerWebAPI
JWT__AUDIENCE=StockerClients
JWT__SIGNINGKEY=ChangeThisToALongRandomSecretForDevelopmentOnly123!
SEED__ENABLEDEMOSEED=true

